body {
  margin: 3% 5% 3% 5%;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: rgb(72, 152, 236);
  font-family: Arial, Helvetica, sans-serif;
}

.nav-links {
  height: 45px;
  width: 180px;
  font-size: 12px;
  color: white;
  text-align: center;
  text-decoration: none;
  line-height: 45px;
  margin: 0;
}

#title {
  font-size: 20px;
}

#user-header {
  font-family: Arial, Helvetica, sans-serif;
  height: 50px;
}

#form-section {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  border: 1px;
}

#form-container {
  width: 60%;
  padding-top: 0px;
  padding-left: 10px;
  border: black;
  border-width: 1px;
  border-style: solid;
  border-radius: 6px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

#create-user {
  width: 100%;
  font-size: 16px;
  line-height: 20px;
}

#form {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  flex-direction: column;
  margin: 12px;
}

.form-item-pair {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 10px;
  width: 100%;
}

input,
textarea {
  width: 100%;
  margin-right: 0px;
}

label {
  font-weight: bold;
  margin-right: 50px;
  width: 15rem;
}

#selector {
  margin: 10px;
}

#button-span {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

#submit {
  background-color: rgb(72, 152, 236);
  color: white;
}
